html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



.tickets-wrapper .tickets-list .ticket-item {
    padding: 0 8px;
}

.tickets-wrapper .tickets-list .ticket-item .ticket-image-wrapper {
    background-image: url(/images/tickets/headerssm20212.jpg);
    position: relative;
    z-index: 1;
    top: 1px;
    padding-bottom: 16px;
    background-size: cover;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-image-wrapper .ticket-name {
    font-family: RobotoMedium, sans-serif;
    color: white;
    display: table;
    margin: 5px auto 5px auto;
    font-size: 15px;
    line-height: 34px;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-image-wrapper .ticket-image {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    width: 50px;
    height: auto;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info {
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
    border: 1px solid #0db7dd;
    border-top: none;
    padding: 30px 10px 15px 10px;
    background: #fff;
    margin-bottom: 10px;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info .price-wrapper {
    width: 40%;
    font-family: OpenSansBold, sans-serif;
    color: #111111;
    font-size: 24px;
    line-height: 33px;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info .price-wrapper .price {
    position: relative;
    left: -6px;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info .include {
    width: 60%;
    position: relative;
    top: 5px;
    font-family: OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #111111;
    line-height: 17px;
}

.tickets-wrapper .tickets-list .ticket-item .ticket-info .description {
    height: 255px;
    overflow: hidden;
    font-family: OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #111111;
    line-height: 17px;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info .bottom-info .button-wrapper .buy-button {
    height: 29px;
    font-family: OpenSansRegular, sans-serif;
    font-size: 13px;
    color: white;
    background: #24aa98;
    border: none;
    border-radius: 3px;
    padding: 5px 12px 6px 12px;
    box-sizing: border-box;
    display: table;
    margin: 0 auto;
    letter-spacing: -0.6px;
    text-align: center;
}
.tickets-wrapper .tickets-list .ticket-item .ticket-info .bottom-info .button-wrapper .buy-button:hover {
    background: #1a9385;
    text-decoration: none;
}